html, body, #root { 
  margin: 0; 
  padding: 0; 
  height: 100%; 
}

.background {
	min-height: 100%;
	min-width: 100%;
  display: table;
	background: #361F34; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(#5B3557, #482A45, #361F34); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#5B3557, #482A45, #361F34); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#5B3557, #482A45, #361F34); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#5B3557, #482A45, #361F34); /* Standard syntax */
}

.login-container {
  display: table-cell;
  vertical-align: middle;
}

.login-header {
  padding: 20px;
  color: #e4e7ea
  background: #6B4967; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#795b76, #6B4967); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#795b76, #6B4967); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#795b76, #6B4967); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#795b76, #6B4967); /* Standard syntax */
}

.login-panel {
  margin-bottom: @line-height-computed;
  background-color: white;
  box-shadow(0 1px 1px rgba(0,0,0,0.5));
  border: 1px solid #512F4E
}

.white-text {
  color: white;
  text-shadow: 2px 2px #323232;
}

.input-box {
  color: #99999A;
  background-color: #f4f5f6;
  font-weight: bold;
  border: none;
  border-radius: inherit;
  display: inline;
  height: 100%;
  width: 90%;
}

input.form-control:focus {
  outline: none
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-icon {
  color: #99999A;
  font-weight: bold;
  display: inline;
  width: 10%;
}

.input-container {
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f4f5f6;
  height: 60px; 
}

.signin-btn {
  padding: 20px;
  height: 60px; 
  width: 120px;
  border-color: #6B4967 !important;
  background: #6B4967; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#795b76, #6B4967); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#795b76, #6B4967); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#795b76, #6B4967); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#795b76, #6B4967); /* Standard syntax */
}

a.signin-btn:hover {
  color: white !important;
  background-color: #6B4967 !important;
  border-color: #6B4967 !important;
}

.lostpassword-link {
  color: #99999A;
  font-weight: bold;
  height: 60px !important;
}